.Activity__Container {
  height: 100%;
  background-color: $gray-100;
  display: flex;
  flex-direction: column;
}

.Activity__List {
  height: 100%;
  padding: $spacer-lg $spacer-sm;
}

.Activity__Item {
  padding: $spacer-xs $spacer;
  color: $body-bg;
}

.Activity__Item--rosters,
.Activity__Item--scores,
.Activity__Item--league,
.Activity__Item--moderation {
  font-size: 75%;
  margin-left: $spacer;
  opacity: 0.8;
}

.Activity__Item--date {
  text-align: center;
  opacity: 0.8;
  font-size: 75%;
}