.Activity__Container {
  height: 100%;
  .nav {
    border-bottom: 3px solid $white;
  }
  .nav-link {
    color: $body-color;
    background-color: lighten($medium-gray, 10);

    &.active, &:hover {
      background-color: $white;
    }
  }
}

.activity__item--rosters,
.activity__item--scores,
.activity__item--league,
.activity__item--moderation {
  font-size: 75%;
  margin-left: $spacer;
  opacity: 0.8;
}

.activity__item--date {
  max-width: 25%;
  opacity: 0.8;
  font-size: 75%;
}