extends ../layout

block content
  .grid-x.align-center
    form.medium-6.large-4(action="/account/forgot-password" method="POST")
      p.text-center I forgot my password!
      label(for="email") Email
        input(type="email" name="email")
      input.button.expanded(type="submit" value="Send a Reset")
