extends ../layout

block content
  .row
    .col-sm-3.mx-auto.p-3.bg-light
      h2.text-center Register
      form(action=`/account/register${ref}` method="POST")
        .form-group
          label(for="username") Username
          input#username.form-control(type="text" name="username" value=body.username)
        .form-group
          label(for="email") Email Address
          small.faded-2  (for password resets)
          input#email.form-control(type="email" name="email" value=body.email)
        .form-group
          label(for="password") Password
          input#password.form-control(type="password" name="password")
        .form-group
          label(for="confirm-password") Again
          input#confirm-password.form-control(type="password" name="confirm-password")
        .py-3
          button.btn.btn-block.btn-success(type="submit") Register →
        p.text-center
          span.faded-2 Already have an account?
          a.link-discreet(href=`/account/login${ref}`)  Login