extends base

block dynamic
  h2.text-center New Password
  form(method="POST")
    .form-group
      label(for="password") Password
      input#password.form-control(type="password" name="password")
    .form-group
      label(for="confirm-password") Again
      input#confirm-password.form-control(type="password" name="confirm-password")
    .py-3
      button.btn.btn-block.btn-success(type="submit") Reset Password →