mixin loginForm()
  form.medium-6.large-4(action="/account/login" method="POST")
    h4.text-center Login
    label(for="email") Email Address
      input(type="email" name="email")
    label(for="password") Password
      input(type="password" name="password")
    input.button.expanded(type="submit" value="Log In →")
    p.text-center
      a(href="/account/forgot-password") Forgot your password?