extends ../layout

block content
  .grid-x.align-center
    form.medium-6.large-4(method="POST" enctype="multipart/form-data")
      p.text-center Edit Account
      - const userPhoto = user.photo ? `/images/uploads/${user.photo}` : '/images/user-default.png';
      img(src!=userPhoto alt="Profile Picture")
      label(for="photo") Profile Picture
        input(type="file" name="photo" id="photo" accept="image/gif, image/png, image/jpeg")
      input.button.expanded(type="submit" value="Register →")