extends ../layout

block content
  .grid-x.align-center
    form.medium-6.large-4(method="POST")
      p.text-center Reset Password
      label(for="password") Password
        input(type="password" name="password" autocomplete="off")
      label(for="confirm-password") Again
        input(type="password" name="confirm-password" autocomplete="off")
      input.button.expanded(type="submit" value="Reset Password →")