extends ../layout

include mixins/_leagueForm
include mixins/_addModerator
include mixins/_removeModerator
include mixins/_removeMember

block content
  p Edit League
    .align-center
      +leagueForm(league)
      strong Members
        ul
          each member in league.members
            li= member.username
              +removeModerator(league, user, member)
              +addModerator(league, user, member)
              +removeMember(league, user, member)

  pre(style="margin-top: 60px; font-size: 12px;")
    != helpers.dump(league)