extends ../layout

include _leagueForm
include _editUsersForm

block content
  p Edit League
    .grid-x.align-center
      +leagueForm(league)
      +editUsersForm(league, user)

  pre(style="margin-top: 60px; font-size: 12px;")
    != helpers.dump(league)