extends ../layout

include mixins/_leagueForm
include mixins/_addModerator
include mixins/_removeModerator
include mixins/_removeMember

block content
  p Edit League
    .align-center
      +leagueForm(req.league)
      strong Members
        ul
          each member in req.league.members
            li= member.username
              +removeModerator(req, member)
              +addModerator(req, member)
              +removeMember(req, member)

  pre(style="margin-top: 60px; font-size: 12px;")
    != helpers.dump(req.leagueAuth)