extends ../layout

include _leagueForm

block content
  p
    strong= league.name
  p= league.description
  p
    if user.isModerator
      a(href=`/league/${league._id}/edit`) Edit
    if !user.isMember
      a(href=`/league/${league._id}/join`) Join
  p 
    strong Members
  pre
    != helpers.dump(league)