extends ../layout

block content
  p Are you sure?
  p Leaving this league will forfeit your current roster and you won't be able to join again.
  form(method="POST" action=`/lg/${league._id}/leave`)
    input.button(type="submit" value="Yes, I'm sure")