.activity {
  .nav-link {
    color: $body-color;
    background-color: lighten($medium-gray, 10);

    &.active, &:hover {
      background-color: $light-gray;
    }
  }
}

#activity__feed {
  height: 100%;
  overflow-y: scroll;
}

.activity__item--rosters,
.activity__item--scores,
.activity__item--league,
.activity__item--moderation {
  font-size: 75%;
  margin-left: $spacer;
  opacity: 0.8;
}

.activity__item--date {
  max-width: 25%;
  opacity: 0.8;
  font-size: 75%;
}