.activity__container {
  .nav {
    border-bottom: 3px solid $light-gray;
  }
  .nav-link {
    color: $body-color;
    background-color: lighten($medium-gray, 10);

    &.active, &:hover {
      background-color: $light-gray;
    }
  }

  position: fixed;
  bottom: 0;
  @include media-breakpoint-up(sm) {
    position: relative;
  }
}

#activity--collapse__toggler {
  @include media-breakpoint-up(sm) {
    display: none;
  }
}

#activity--collapse {
  @include media-breakpoint-up(sm) {
    display: block;
  }
}

.activity__item--rosters,
.activity__item--scores,
.activity__item--league,
.activity__item--moderation {
  font-size: 75%;
  margin-left: $spacer;
  opacity: 0.8;
}

.activity__item--date {
  max-width: 25%;
  opacity: 0.8;
  font-size: 75%;
}