DEBUG=

NODE_ENV=
PORT=
WEBPACK_PORT=

DATABASE_USER=
DATABASE_PASS=
DATABASE=

SMTP_USER=
SMTP_PASS=
SMTP_HOST=
SMTP_PORT=

TRAP_MAIL=
MAILTRAP_USER=
MAILTRAP_PASS=
MAILTRAP_HOST=
MAILTRAP_PORT=

SESSION_SECRET=
SESSION_KEY=

MBA_API_KEY=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_KEY=
CLOUDINARY_SECRET=