mixin loginForm(req = {}, ref)
  form.medium-6.large-4(action=`/account/login${ref}` method="POST")
    p.text-center Login
    label(for="username" value=req.body.username) Username
      input(type="text" name="username")
    label(for="password") Password
      input(type="password" name="password")
    input.button.expanded(type="submit" value="Log In →")
    p.text-center
      a(href="/account/forgot-password") Forgot your password?
    p.text-center
      span or
      a(href=`/account/register${ref}`)  Register