extends ../layout

include ./mixins/_removePlayerForm

block content
  if draft && draft.players
    ol
      each player in draft.players
        li
          img(src=helpers.playerImage(player._id) style="max-width: 50px;")
          != player.player_name + ' '
          +removePlayerForm(player)
          form(method="POST" action=`/roster/move`)
            input(type="hidden" name="player" value=player._id)
            input(type="hidden" name="delta" value=-1)
            input.button.tiny(type="submit" value="↑")
          form(method="POST" action=`/roster/move`)
            input(type="hidden" name="player" value=player._id)
            input(type="hidden" name="delta" value=1)
            input.button.tiny(type="submit" value="↓")

    pre(style="font-size: 12px;")
      != helpers.dump(draft)
  else
    p No Players selected yet.