extends ../layout

include ./mixins/_removePlayerForm

block content
  if roster.players
    each player in roster.players
      p
        img(src=helpers.playerImage(player._id) style="max-width: 50px;")
      p= player.name + ' '
        i= player.position
      p
        +removePlayerForm(player)

    pre(style="font-size: 12px;")
      != helpers.dump(req.roster)
  else
    p No Players selected yet.