extends ../layout

include mixins/_addPlayerForm

block content
  p
    img(src=helpers.playerImage(player._id) style="max-width: 50px;")
  p= player.player_name + ' '
    i= player.position
  p
    a(href=`/nba/team/${player.team_id._id}`)= player.team_id.full_name
  p
    +addPlayerForm(req, player)