extends ../layout

include ../roster/mixins/_addPlayerForm

block content
  p
    != helpers.teamLogo(team.abbreviation)
  p= `${team.full_name}`
  p Players
    ul
      each player in players
        li
          a(href=`/nba/player/${player._id}`)
            img(src=helpers.playerImage(player._id) style="max-width: 70px;")
            != player.name
          if req.session.league
            +addPlayerForm(player)