.Feed__Container {
  background-color: $nav-bg; 
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  right: $spacer-xl;
  width: 300px;

  &.open {
    width: 400px;
    height: 60vh;

    &.docked {
      height: 100%;
      position: static;
    }
  }
}

.Feed__Menu {
  background: $nav-bg;
  display: flex;
  flex-direction: row;
  padding: $spacer-sm;
}

.LeagueFeed {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.LeagueFeed__Menu {
  display: flex;
  flex-direction: row;
  background-color: $nav-bg;
  height: 45px;
}

.LeagueFeed__Menu__Item {
  color: $body-color;
  border-bottom: 5px solid $nav-bg;
  flex-grow: 1;
  text-align: center;
  display: block;
  
  &.active,
  &:hover {
    color: $brand-gold;
    border-bottom: 5px solid $brand-gold;
  }
}