.Feed__Container {
  background-color: $white;
  display: flex;
  flex-direction: column;

  &.docked {
    height: 100%;
  }
  &.floating,
  &.minimized {
    position: fixed;
    bottom: 0;
    right: $spacer-xl;
    width: 400px;
  }
  &.floating {
    height: 60vh;
  }
}

.Feed__Menu {
  background: $dark-gray;
  color: $light-gray;
  display: flex;
  flex-direction: row;
  padding: $spacer-sm;
}

.LeagueFeed {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.LeagueFeed__Menu {
  display: flex;
  flex-direction: row;
  background-color: lighten($medium-gray, 10);
  flex-grow: 1;
}

.LeagueFeed__Menu__Item {
  color: $body-color;
  padding: $spacer-xs;
  flex-grow: 1;
  text-align: center;
  display: block;
  
  &.active,
  &:hover {
    background-color: $white;
  }
}