@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./utilities";

@import "./Account/AccountForms.scss";
@import "./Feed/Feed.scss";
@import "./Layout/Layout.scss";
@import "./Nav/Nav.scss";
@import "./Player/PlayerDetail.scss";
@import "./User/UserPhotoForm.scss";

html {
  font-size: 14px;
}

html,
body,
#app {
  height: 100vh;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  color: $gray-200;
}

p {
  margin: 0;
}

a, 
a:hover,
button,
button:hover,
.btn-link,
.btn-link:hover {
  color: $body-color;
  text-decoration: none;
  cursor: pointer;
}

.btn-outline-primary:hover {
  color: darken($body-color, 20%);
}

input, 
.form-control {
  border: none;
}

.close,
.close:hover {
  color: $body-color;
  text-shadow: none;
  background-color: transparent;
  cursor: pointer;
  opacity: 0.6;
  font-size: 2rem;
  line-height: 2rem;
}

.debug {
  background: red !important;
}