@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./utilities";

html {
  font-size: 12px;
  @include media-breakpoint-up(sm) {
    font-size: 13px;
  }
  @include media-breakpoint-up(md) {
    font-size: 15px;
  }
}

h1, h2, h3, h4, h5 {
  margin: 0;
  color: $gray-200;
}

a, 
a:hover {
  color: $body-color;
  text-decoration: none;
}