extends ../layout

block content
  .row.no-gutters
    .col-md-6
      block dynamic
        include partials/leaderboard
        include partials/leagueInfo
    .col-md-6
      block feed
        include partials/activityFeed