extends ../layout

block content
  .row
    .col-5
      include partials/leaderboard
    .col-7
      include partials/activityFeed
      include partials/leagueInfo

  pre(style="font-size: 12px;")
    != helpers.dump(rosters)
    != helpers.dump(activity)
    != helpers.dump(upcomingGames)