extends ../layout

include mixins/leagueListing

block content
  .container
    .row
      .bg-light.col-sm-10.col-md-8.mx-auto.mb-4.pt-3
        h2.text-center.mb-3 Join a League
        each league in leagues
          .row.striped.py-3
            .col-11
              +leagueListing(league)
            .col-1.d-flex.flex-column.justify-content-center.text-lg.text-center.px-2
              a.success(href=`/lg/${league._id}/join`)
                i.fa.fa-plus-circle.text-success
        if !leagues.length
          p.text-center.font-italic No open leagues.
          p.text-center.font-italic You should create one...
    .row
      .col-sm-10.col-md-8.mx-auto.mb-4
        .d-flex.flex-row.justify-content-around
          a.btn.btn-success(href="/leagues/create") Create a League