footer.footer
  .container-fluid.bg-dark.py-3
    .text-center
      img.faded-3(src="/images/logo.svg")
    .text-center.mt-3= `© ${helpers.moment().format('YYYY')}` 
    .text-center.mt-3 BUCKETJUNKIE IS IN NO WAY ASSOCIATED WITH THE NATIONAL BASKETBALL LEAGUE