.bg-light
  a.link-discreet(href="#mockup", data-toggle="collapse", aria-expanded="false", aria-controls="mockup")
    .d-flex.flex-row.justify-content-start.align-items-center
      .p-3
        h2.my-0 200
      .py-3
        img.profile-picture.rounded-circle(src="/images/user-default.png")
      .p-3
        h3.font-weight-normal.my-0 Username
  .collapse(id="mockup") Content content content