doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="x-ua-compatible" content="ie-edge")
    title= `${title} | BucketJunkie`
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700")
    //- if helpers.isProd
    //-   link(rel='stylesheet', href='/dist/app.css')
    link(rel="shortcut icon" type="image/png" href="/images/icons/favicon.ico")
  body
    .full-height.d-flex.flex-column
      block header
        nav.navbar.navbar-expand-lg.bg-dark

          .d-flex
            a.navbar-brand(href="/")
              img(src="/images/logo.svg")

          a.navbar-toggler(href="" data-toggle="collapse" data-target="#collapsible-menu" aria-expanded="false")
            span.fa.fa-bars.text-primary

          #collapsible-menu.collapse.navbar-collapse.justify-content-end
            ul.navbar-nav
              if user
                li.nav-item
                    a.nav-link(href=`/account/logout`) Log Out
                li.nav-item.d-none.d-lg-block
                  a.nav-link(href="/account/")
                    img.menu-photo(src!=helpers.userPhoto(user) alt="Profile Picture" style="width: 25px;")
              else
                li.nav-item
                  a.nav-link(href=`/account/login${ref}`) Log In
      
      #flashes
        block messages
          if locals.flashes
            - const categories = Object.keys(locals.flashes)
            each category in categories
              each message in flashes[category]
                .alert.alert-dismissible.mx-auto.my-0.slide-in(class=`alert-${category}` role="alert")
                  button.close(aria-label="Close" type="button" data-dismiss="alert") 
                    span(aria-hidden="true") &times;
                  != message

      .container-fluid.px-0.flex-grow.d-flex.flex-column.height-100
        block content

      .modal.fade#dynamicModal(tabindex="-1", role="dialog", aria-hidden="true")
        .modal-dialog(role="document")
          .modal-content.bg-light
            .modal-header
              h5.modal-title Title
              button.close(type="button", data-dismiss="modal", aria-label="Close")
                span(aria-hidden="true") &times;
            .modal-body Body
            .modal-footer
              button.btn.btn-secondary(data-dismiss="modal") Cancel
              form(method="POST" action="")
                input(type="hidden" name="" value="")
                button(type="submit") ButtonText

    block scripts
      script(src="/dist/app.bundle.js")
