extends layout

include mixins/playerListing

block content
  - const takenPlayers = rosters.reduce((taken, roster) => taken.concat(roster.players), start = [])
  - const userRoster = rosters.filter(roster => roster.user._id.equals(user._id))[0]
  - const upcomingDays = upcomingGames.map((g, i) => { return helpers.moment().add(i, 'days')})
  .container
    .row.no-gutters
      each team in teams
        .col
          a(href=`/nba/players?team=${team._id}`, class=(activeTeam === team._id ? 'is-active' : ''))
            img(src=helpers.teamImage(team._id))
    .bg-light.mx-auto(style="max-width: 600px;")
      each player in players
        +playerListing(player)

  include partials/playerModals