.modal.fade.playerModal#dropPlayer(tabindex="-1", role="dialog", aria-hidden="true")
  .modal-dialog(role="document")
    .modal-content.bg-light
      .modal-header
        h5.modal-title Drop Player
        button.close(type="button", data-dismiss="modal", aria-label="Close")
          span(aria-hidden="true") &times;
      .modal-body Player Name
      .modal-footer
        button.btn.btn-secondary(data-dismiss="modal") Cancel
        form(method="POST" action=`/roster/remove-player`)
          input(type="hidden" name="player" value="")
          button.btn.btn-danger(type="submit") Drop

.modal.fade.playerModal#addPlayer(tabindex="-1", role="dialog", aria-hidden="true")
  .modal-dialog(role="document")
    .modal-content.bg-light
      .modal-header
        h5.modal-title Add Player
        button.close(type="button", data-dismiss="modal", aria-label="Close")
          span(aria-hidden="true") &times;
      .modal-body Player Name
      .modal-footer
        button.btn.btn-secondary(data-dismiss="modal") Cancel
        form(method="POST" action=`/roster/add-player`)
          input(type="hidden" name="player" value="")
          button.btn.btn-success(type="submit") Add