.bg-light.d-flex.flex-column.activity
  ul.nav.nav-fill
    li.nav-item
      a.nav-link.text-capitalize(class=(!feedFilter ? 'active' : ''), href=`/lg/${league.id}`) all
    - const categories = ["chat", "rosters", "scores", "league"]
    each category in categories
      li.nav-item
        a.nav-link.text-capitalize(class=(category === feedFilter ? 'active' : ''), href=`?activity=${category}`)= category
  #activity__feed
  if !feedFilter || ['all', 'chat'].includes(feedFilter)
    form#chat__form
      .form-group.row.my-0
        .col.pr-0
          input#chat__input.form-control(type="text" name="message" placeholder="Chat" autocomplete="off")
        .col-sm-auto.pl-0
          button.btn.btn-success(type="submit") Send
