extends ../layout

include mixins/playerListing

block content
  - const takenPlayers = rosters.reduce((taken, roster) => taken.concat(roster.players), start = [])
  - const userRoster = rosters.filter(roster => roster.user._id.equals(user._id))[0] || { players: [] }
  - const upcomingDays = upcomingGames.map((g, i) => { return helpers.moment().add(i, 'days')})
  .container
    .row.no-gutters
      .bg-light.col-sm-10.col-md-8.mx-auto.mb-4.p-3
        h2.text-center Top Players
        .d-flex.flex-row.flex-wrap
          .team__filter(class=(!activeTeam ? 'active' : ''))
            a(href=`/nba/players`)
              img(src='/images/teams/nba.svg')
          each team in teams
            .team__filter(class=(team._id == activeTeam ? 'active' : ''))
              a(href=`/nba/players?team=${team._id}`)
                img(src=helpers.teamImage(team._id))
      .bg-light.col-sm-10.col-md-8.mx-auto
        each player in players
          +playerListing(player)

  include partials/playerModals