extends ../layout

block content
  p Your roster is full, pick a player to drop
  each player in roster.players
    p
      img(src=helpers.playerImage(player._id) style="max-width: 50px;")
    p= player.name + ' '
      i= player.position
    p
      form(method="POST")
        input(type="hidden" name="player" value=player._id)
        input.button(type="submit" value="Drop Player")

  pre(style="font-size: 12px;")
    != helpers.dump(req.roster)