.feed {
  list-style-type: none;
  margin-left: 0;

  .action__item {
    display: flex;
    padding: 2px 0;
    align-items: center;
  }
  .action__content {
    flex-grow: 1;
    padding-left: 0.4em;
    margin-bottom: 0;
  }
  .message {

  }
  .league, .roster {
    opacity: 0.4;
    font-size: 85%;
    padding-left: 1em;
  }
  .moderator {
    color: red;
  }
  i {
    margin-left: 15px;
    font-size: 75%;
  }
}